// @lgWidth: 1280px;
// @mdWidth: 992px;
// @tabletWidth: 768px;
// @smWidth: 640px;
// @mobileWidth: 375px;

// @lgWidths: ~"screen and (max-width:" @lgWidth~")";
// @mdWidths: ~"screen and (max-width:" @mdWidth~")";
// @tabletWidths: ~"screen and (max-width:" @tabletWidth~")";
// @smWidths: ~"screen and (max-width:" @smWidth~")";
// @mobileWidths: ~"screen and (max-width:" @mobileWidth~")";

@color-black: #000000;
@color-white: #ffffff;



@largeWidth: 1280px;
@middleWidth: 992px;
@tabletWidth: 768px;
@smallWidth: 640px;
@mobileWidth: 375px;

@media-large: ~"screen and (max-width:" @largeWidth~")";
@media-middle: ~"screen and (max-width:" @middleWidth~")";
@media-tablet: ~"screen and (max-width:" @tabletWidth~")";
@media-small: ~"screen and (max-width:" @smallWidth~")";
@media-mobile: ~"screen and (max-width:" @mobileWidth~")";

