<div id="contact" class="contact">
  <div class="l-layout">
    <div class="contact__title">Contact</div>
    <div class="contact__contacts">
      <div class="contact__item">
        <span class="contact__item-text contact__item-text_git">GitHub</span>
        <span class="contact__item-text"><a class="contact__item-link" href="https://github.com/leminam" target="_blank">leminam</a></span>
      </div>
      <div class="contact__item">
        <span class="contact__item-text contact__item-text_email">E-mail</span>
        <span class="contact__item-text"><a class="contact__item-link" href="mailto:lemina.m@yandex.ru" target="_blank">lemina.m@yandex.ru</a></span>
      </div>
      <div class="contact__item">
        <span class="contact__item-text contact__item-text_skype">Skype</span>
        <span class="contact__item-text"><a class="contact__item-link" href="skype:lemina_masha" target="_blank">lemina_masha</a></span>
      </div>            
      <button class="contact__button"><a class="contact__item-link" href="mailto:lemina.m@yandex.ru" target="_blank">Send e-mail</a></button>
    </div>
  </div>
</div>