<div id="menu" class="menu">
  <div class="l-layout">
    <div class="menu__header">
      <div class="menu__logo">
        <img src="static/img/icons/my-logo.png">
      </div>
      <ul class="menu__nav">
        <li class="menu__nav-item">
          <a href="index.html#about" class="menu__nav-link">About</a>
        </li>
        <li class="menu__nav-item">
          <a href="index.html#portfolio" class="menu__nav-link">Portfolio</a>
        </li>
        <li class="menu__nav-item">
          <a href="index.html#contact" class="menu__nav-link">Contact</a>
        </li>                
      </ul>
    </div>
  </div>
</div>