.portfolio {
  padding: 60px 0 60px;
  background-color: #EFF0F5;

  &__title {
    font: 700 36px/32px @Muller;
    margin-bottom: 30px;
  }
  &__item {
    padding: 35px 91px 48px 54px;
    background-color: @color-white;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "preview info"
    "preview devices";

    @media (max-width: @lgWidth) {
      padding: 35px 45px 48px 45px;
    }
    @media (max-width: @mdWidth) {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: none;
      grid-template-areas: "preview info"
      "devices devices";
    }
    @media (max-width: @tabletWidth) {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: none;
      grid-template-areas: "preview info"
      "devices devices";
    }
  }
  &__preview {
    grid-area: preview;

    display: grid;
    grid-template-rows: 83px;

    @media (max-width: @mdWidth) {
      grid-template-rows: 60px;
    }
    
    &-background {
      background-color: #EFF0F5;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      margin-right: 68px;
      height: 222px;
      width: 343px;
      box-sizing: border-box;

      @media (max-width: @lgWidth) {
        margin-right: 35px;
      }
      @media (max-width: @mdWidth) {
        margin-bottom: 20px;
      }
      @media (max-width: @tabletWidth) {
        margin-bottom: 20px;
      }
      
      &_mob {
        padding: 5px 118px 0 119px;
      }
      &_ipad {
        padding: 10px 98px 6px 98px;    
      }
      &_mac {
        padding: 29px 30px 23px 30px;   
      }
    }
    &-image {
      height: 214px;

      &_ipad {
        height: 203px;
      }
      &_mac {
        height: 167px;
      }
    }
  }
  &__info {

    grid-area: info;

    @media (max-width: @mdWidth) {
      margin-top: 60px;
    }
    
    &-title {
      font: 700 18px/22px @Muller;
    }
    &-description {
      font: 400 16px/22px @Muller;
      opacity: 0.8;
      margin: 9px 0 30px 0;
    }
  }
  &__devices {
    grid-area: devices;

    &-description {
      font: 400 16px/22px @Muller;
      opacity: 0.8;
      margin-bottom: 12px;
      border-top: 1px solid rgba(55, 58, 60, 0.2);
      overflow: hidden;
      padding-top: 20px;
    }
    &-nav {
      font: 400 16px/21px @Muller;
      padding-bottom: 10px;
    }
    &-link {
      text-decoration: none;
      color: @color-black;
      opacity: 0.5;
      padding-bottom: 9px;
    }
    &-link:hover {
      font-weight: 700;
      opacity: 1;
      border-bottom: 3px solid #444287;
    }
    &-item_space {
      margin: 0 53px 0 53px;
    }
    &-screenshot {
      margin: 5px 6px 0 0;
      height: 88px;
    }
  }
}
