<div id="portfolio" class="portfolio">
  <div class="l-layout">
    <div class="portfolio__title">Portfolio</div>
    <div class="portfolio__cases">
      <div class="portfolio__item">
        <div class="portfolio__preview">
          <img class="portfolio__preview-logo" src="static/img/icons/jhon.png">
          <div class="portfolio__preview-background portfolio__preview-background_mob"><img class="portfolio__preview-image" src="static/img/mob_1.png"></div>
        </div>
        <div class="portfolio__info">
          <div class="portfolio__info-title">Vivamus pulvinar</div>
          <div class="portfolio__info-description">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</div>
          <div class="portfolio__devices">
            <div class="portfolio__devices-nav">
              <span class="portfolio__devices-item">
                <a href="#" class="portfolio__devices-link">Desktop</a>
              </span>
              <span class="portfolio__devices-item portfolio__devices-item_space">
                <a href="#" class="portfolio__devices-link">Tablet</a>
              </span>
              <span class="portfolio__devices-item">
                <a href="#" class="portfolio__devices-link">Mobile</a>
              </span>
            </div>
            <div class="portfolio__devices-description">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</div>
            <div class="portfolio__devices-image">
              <img src="static/img/screenshot_1.png" class="portfolio__devices-screenshot">
              <img src="static/img/screenshot_1.png" class="portfolio__devices-screenshot">
              <img src="static/img/screenshot_1.png" class="portfolio__devices-screenshot">
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__preview">
          <img class="portfolio__preview-logo" src="static/img/icons/alibi.png">
          <div class="portfolio__preview-background portfolio__preview-background_ipad"><img class="portfolio__preview-image portfolio__preview-image_ipad" src="static/img/ipad_2.png"></div>
        </div>
        <div class="portfolio__info">
          <div class="portfolio__info-title">Vivamus pulvinar</div>
          <div class="portfolio__info-description">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</div>
          <div class="portfolio__devices">
            <div class="portfolio__devices-nav">
              <span class="portfolio__devices-item">
                <a href="#" class="portfolio__devices-link">Desktop</a>
              </span>
              <span class="portfolio__devices-item portfolio__devices-item_space">
                <a href="#" class="portfolio__devices-link">Tablet</a>
              </span>
              <span class="portfolio__devices-item">
                <a href="#" class="portfolio__devices-link">Mobile</a>
              </span>
            </div>
            <div class="portfolio__devices-description">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</div>
            <div class="portfolio__devices-image">
              <img src="static/img/screenshot_2.png" class="portfolio__devices-screenshot">
              <img src="static/img/screenshot_2.png" class="portfolio__devices-screenshot">
              <img src="static/img/screenshot_2.png" class="portfolio__devices-screenshot">
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__preview">
          <img class="portfolio__preview-logo" src="static/img/icons/ave.png">
          <div class="portfolio__preview-background portfolio__preview-background_mac"><img class="portfolio__preview-image portfolio__preview-image_mac" src="static/img/mac_3.png"></div>
        </div>
        <div class="portfolio__info">
          <div class="portfolio__info-title">Vivamus pulvinar</div>
          <div class="portfolio__info-description">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</div>
          <div class="portfolio__devices">
            <div class="portfolio__devices-nav">
              <span class="portfolio__devices-item">
                <a href="#" class="portfolio__devices-link">Desktop</a>
              </span>
              <span class="portfolio__devices-item portfolio__devices-item_space">
                <a href="#" class="portfolio__devices-link">Tablet</a>
              </span>
              <span class="portfolio__devices-item">
                <a href="#" class="portfolio__devices-link">Mobile</a>
              </span>
            </div>
            <div class="portfolio__devices-description">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</div>
            <div class="portfolio__devices-image">
              <img src="static/img/screenshot_3.png" class="portfolio__devices-screenshot">
              <img src="static/img/screenshot_3.png" class="portfolio__devices-screenshot">
              <img src="static/img/screenshot_3.png" class="portfolio__devices-screenshot">
            </div>
          </div>
        </div>
      </div>            
    </div>
  </div>
</div>  