<div id="portfolio" class="portfolio">
  <div class="l-layout">
    <div class="portfolio__title">Portfolio</div>
    <div class="portfolio__cases">
      {{#each items}}
        {{> portfolio-item}}
      {{/each}}
    </div>
  </div>
</div>  