<div id="about" class="about">
  <div class="l-layout">
    <div class="about__info">
      <div class="about__title">About me</div>
      <div class="about__bio">Take a look back  at the past two seasons of «Bosch» before seeing whats to come in Seasons 3. Stream all episodes on Amazon Video.</div>
      <div class="about__skills">
        <div class="about__skills-item">
          <span class="about__skills-number">68</span>
          <span class="about__skills-title">sapien neque</span>
          <span class="about__skills-text">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</span>
        </div>
        <div class="about__skills-item about__skills-item_space">
          <span class="about__skills-number">68</span>
          <span class="about__skills-title">sapien neque</span>
          <span class="about__skills-text">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</span>
        </div>
        <div class="about__skills-item about__skills-item_space">
          <span class="about__skills-number">68</span>
          <span class="about__skills-title">sapien neque</span>
          <span class="about__skills-text">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</span>
        </div>
        <div class="about__skills-item">
          <span class="about__skills-number">68</span>
          <span class="about__skills-title">sapien neque</span>
          <span class="about__skills-text">Vivamus pulvinar sem non urna vulputate, a molestie nibh volutp. Ut at sem nec justo consequat</span>
        </div>
      </div>
    </div>
  </div>
</div>  