<div id="about" class="about">
  <div class="l-layout">
    <div class="about__info">
      <div class="about__title">Обо мне</div>
      <div class="about__bio">Самостоятельно изучаю CSS и HTML. Есть базовые знания JavaScript. Люблю учиться и узнавать новое.</div>
      <div class="about__skills">
        <div class="about__skills-item">
          <span class="about__skills-number">HTML</span>
          <span class="about__skills-title">средний уровень</span>
          <span class="about__skills-text">Структура документа, заголовки, метаданные, абзацы, элементы, гиперссылки.</span>
        </div>
        <div class="about__skills-item about__skills-item_space">
          <span class="about__skills-number">CSS</span>
          <span class="about__skills-title">средний уровень</span>
          <span class="about__skills-text">Стилизация, компоновка, блоки, позиционирование, адаптивный дизайн, разметка.</span>
        </div>
        <div class="about__skills-item">
          <span class="about__skills-number">JS</span>
          <span class="about__skills-title">начальный уровень</span>
          <span class="about__skills-text">Объекты, строки, массивы, функции, переменные, операторы, циклы.</span>
        </div>
      </div>
    </div>
  </div>
</div>  