<div id="intro" class="intro">
  <div class="l-layout intro__inner">
    <div class="intro__info">
      <div class="intro__title">Всем привет!</div>
      <div class="intro__about">Меня зовут Мария. Перед вами небольшой сайт-портфолио в котором можно увидеть проекты, которые были свёрстаны мной с энтузиазмом и упорством. Я только учусь, поэтому прошу отнестись с пониманием к некоторым недочетам и возможным ошибкам.</div>
      <button class="intro__button"><a class="intro__button-link" href="mailto:lemina.m@yandex.ru" target="_blank">Send e-mail</a></button>
    </div>
  </div>
  <img class="intro__image" src="static/img/illustration.svg">
</div>